.title {
    text-align: center;
  }
  .showcase {
    background: url('NBA 2K12 First Textures Exported.jpg') repeat-x center center fixed;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.showcase::after {
  content:'';
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:1;
  background: rgba(0,0,0,0.5);
}
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
  .error-message {
    background: #e7cd37;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  
  .mew-form, .loading {
    width: 50%;
    margin: 0 auto;
  }
  
  .loading {
    text-align: center;
  }
  
  .mews {
    width: 80%;
    margin: 0 auto;
  }
  
  .mews > div {
    background: hsl(0, 0%, 95%);
    padding: 12px;
    border-radius: 4px;
  }
  
  .mews > div > h3 {
    word-wrap: break-word;
  }
  
  .mews > div > p {
    word-wrap: break-word;
  }
  
  .mews > div:not(:last-child) {
    margin-bottom: 8px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin: 1em;
  }